body{
  background-image: url('./images/chmyphotography-713105-unsplash.jpg');
  font-family: 'Times New Roman', Times, serif;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 350px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

/* The navigation menu links */

.position{
  position: relative;
  top: 252px;
}

